.datalist {
  list-style-type: none;
}

.content {
  margin-left: 20px;
  margin-top: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.items {
  width: 6em;
  display: inline-block;
}

.searchlbl {
  width: 8em;
  display: inline-block;
}

.div-table {
  display: table;
  width: auto;
  background-color: #eee;
  border: 1px solid #666666;
  border-spacing: 5px;
}

.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-col {
  float: left;
  display: table-column;
  min-height: 1px;
  width: 130px;
}

.div-table-head-col {
  float: left;
  display: table-column;
  width: 130px;
  background-color: #ccc;
}

.navelement-link {
  float: left;
  color: blue;
  cursor: pointer;
  border: 1px;
  margin: 5px;
  font-weight: bold;
}

.navelement {
  float: left;
  color: black;
  cursor: default;
  border: 1px;
  margin: 5px;
  font-weight: bold;
}